{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Nan News 4.21</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'assets/img/logo-nan.png' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/core-style2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">

    <!-- Responsive CSS -->
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

</head>

<body>
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Middle Header Area -->
        <div class="middle-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Logo Area -->
                    <div class="col-12 col-md-4">
                        <div class="logo-area">
                            <a href="{% url 'index' %}"><img src="{{ site_web.image.url}}" alt="logo"></a>
                        </div>
                    </div>
                    <!-- Header Advert Area -->
                    <div class="col-12 col-md-8">
                        <div class="header-advert-area">
                            <a href="#"><img src="{% static 'assets/img/bg-img/top-advert.png' %}" alt="header-add"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Bottom Header Area -->
        <div class="bottom-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
                                <div class="collapse navbar-collapse" id="gazetteMenu">
                                    <ul id="dynamique" class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'index' %}">Accueil <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'catagory' %}"> %{categorie_return}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'catagory' %}">Lifestyle</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'catagory' %}">Travel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'catagory' %}">Health</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'catagory' %}">Entertainment</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'catagory' %}">sport</a>
                          
                                    </ul>
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item personal-link">
                                            <a class="nav-link personal" href="{% url 'about' %}">A propos</a>
                                        </li>
                                        <li class="nav-item personal-link">
                                            <a class="nav-link personal" href="{% url 'contact' %}">Contact</a>
                                        </li>
                                        
                                    </ul>
                                    <!-- Search Form -->
                                    <div class="header-search-form mr-auto">
                                        <form action="#">
                                            <input type="search" placeholder="Input your keyword then press enter..." id="search" name="search">
                                            <input class="d-none" type="submit" value="submit">
                                        </form>
                                    </div>
                                    <!-- Search btn -->
                                    <div id="searchbtn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Header Area End -->

    {% block content %}

    {% endblock content %}

    <!-- Footer Area Start -->
    <footer class="footer-area bg-img background-overlay" style="background-image: url({% static 'assets/img/bg-img/4.jpg' %});">
        <!-- Top Footer Area -->
        <div class="top-footer-area section_padding_100_70">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Regions</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="#">U.S.</a></li>
                                <li><a href="#">Africa</a></li>
                                <li><a href="#">Americas</a></li>
                                <li><a href="#">Asia</a></li>
                                <li><a href="#">China</a></li>
                                <li><a href="#">Europe</a></li>
                                <li><a href="#">Middle</a></li>
                                <li><a href="#">East</a></li>
                                <li><a href="#">Opinion</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Fashion</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="#">Election 2016</a></li>
                                <li><a href="#">Nation</a></li>
                                <li><a href="#">World</a></li>
                                <li><a href="#">Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Politics</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Markets</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Luxury</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Featured</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="#">Football</a></li>
                                <li><a href="#">Golf</a></li>
                                <li><a href="#">Tennis</a></li>
                                <li><a href="#">Motorsport</a></li>
                                <li><a href="#">Horseracing</a></li>
                                <li><a href="#">Equestrian</a></li>
                                <li><a href="#">Sailing</a></li>
                                <li><a href="#">Skiing</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">FAQ</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="#">Aviation</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Traveller</a></li>
                                <li><a href="#">Destinations</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Food/Drink</a></li>
                                <li><a href="#">Hotels</a></li>
                                <li><a href="#">Partner Hotels</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">+More</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Arts</a></li>
                                <li><a href="#">Autos</a></li>
                                <li><a href="#">Luxury</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
{{site_web.copy_ryght |safe}}
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'assets/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'assets/js/active.js' %}"></script>

        <!-- Google Maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk"></script>
    <script src="{% static 'assets/js/map-active.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
      new Vue(
        {
          el:'#contact',
          data:{
            name:'',
            email:'',
            message:'',
            url:"{% url 'checkup' %}"
          },
          methods:{
            postData(){
              if (this.name === '' || this.email === '' || this.message === ''){
                swal.fire({
                  icon:'error',
                  text:'Veuillez remplir les champs vides',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else if (!/[A-Za-z'éèöïäëû ]+/.test(this.name)){
                swal.fire({
                  icon:'error',
                  text:'Veuillez saisir un nom valide',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                swal.fire({
                  icon:'error',
                  text:'Veuillez saisir un email valide',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else{
                axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                axios.defaults.xsrfCookieName = 'csrftoken'
                
                let form = new FormData()

                form.append('name', this.name)
                form.append('email', this.email)
                form.append('message', this.message)
                
                axios.post(this.url, form).then((response) => {
                  if (response.data.success){
                    swal.fire({
                      icon:'success',
                      text:response.data.text,
                      showConfirmButton:false,
                      timer:2000,
                    })
                    this.name = ""
                    this.email = ""
                    this.message =""
                  }
                  else {
                    swal.fire({
                      icon:'error',
                      text:response.data.text,
                      showConfirmButton:false,
                      timer:2000,
                    })
                  }
                }).catch((e) => {
                  console.log(e)
                })
                
              }
            }
          },
          delimiters: ['%{', '}']
        }
      )

    new Vue({
        el: '#form',
        data:{
            email: ''
        },
        delimiters:['%{', '}'],
        methods:{
            registersEmail(){
                if(!this.email){
                    swal.fire({
                        icon:'error',
                        text: 'veuillez remplir ce champ avant de le soumettre !!!',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
                else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                    swal.fire({
                        icon: 'error',
                        text: 'Email invalide',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
                else{

                    let form = new FormData()
                    form.append('email', JSON.stringify(this.email))

                    axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
                    axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
                    axios.post("{% url 'registerEmail' %}", form)
                    .then((response) =>{
                        if(response.data.success){
                            swal.fire({
                                icon:'success',
                                text: response.data.msg,
                                showConfirmButton: false,
                                timer: 2000
                            })
                            this.email = ""
                        }
                        else{
                            swal.fire({
                                icon:'error',
                                text: response.data.msg,
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }
                    })
                    .catch((e) => {
                        console.log(e)
                    })
                }
            }
        }

    })


    </script>

    <script>
        new Vue({
            el: "#dynamique",
            data(){
                return{
                    categorie_return: [],
                    artice: []
                    }
            },
            delimiters: [ '%{', '}'],
            methods(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                query: `
                    {
                    category{
                        id
                        name
                    }
                    recentArticles{
                        id
                        title
                        description
                        category{
                            id
                            name
                        }
                    }
                }`
                }, 
                {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                ).then((response)=>{
                    console.log(response)
                    this.article = response.data.data?.recentArticles
                })
            }
        })
    </script>

</body>

</html>