{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Nan News 4.21</title>
    <!-- bootstrap css slide  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Favicon  -->
    <link rel="icon" href="{% static 'assets/img/logo-nan.png' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/core-style2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">

    <!-- Responsive CSS -->
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

</head>

<body>
<div>
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Middle Header Area -->
        <div class="middle-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Logo Area -->
                    <div class="col-12 col-md-4">
                        <div class="logo-area">
                            <a href="{% url 'index' %}"><img src="{{ site_web.image.url}}" alt="logo"></a>
                        </div>
                    </div>
                    <!-- Header Advert Area -->
                    <div class="col-12 col-md-8">
                        <div class="header-advert-area">
                            <a href="#"><img src="{% static 'assets/img/bg-img/top-advert.png' %}" alt="header-add"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Bottom Header Area -->
        <div class="bottom-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
                                <div class="collapse navbar-collapse" id="gazetteMenu">
                                    <ul id="data" class="navbar-nav mr-auto">
                                        <li class="nav-item {% if accueil %} active {% endif %}">
                                            <a class="nav-link" href="{% url 'index' %}">Accueil <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li v-for="(cat, index) in categorie.slice(0,5)" class="nav-item" :class="{active: cat.slug ==='{{slug}}' }">
                                            <a  class="nav-link" :href=" '/catagory/'+ cat.slug + '/' ">%{cat.name}</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Autres</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a  v-for="(cati, index) in categorie.slice(6,12)" class="dropdown-item" :class="{active: cati.slug ==='{{slug}}' }" :href=" '/catagory/'+ cati.slug + '/' ">%{cati.name}</a>
                                            </div>
                                        </li>                          
                                    </ul>
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item personal-link">
                                            <a class="nav-link personal" href="{% url 'about' %}">A propos</a>
                                        </li>
                                        <li class="nav-item personal-link">
                                            <a class="nav-link personal" href="{% url 'contact' %}">Contact</a>
                                        </li>
                                        
                                    </ul>
                                    <!-- Search Form -->
                                    <div class="header-search-form mr-auto">
                                        <form method="GET" action="{% url 'search' %}">
                                            <input type="search" placeholder="Saisissez votre mot-clé puis appuyez sur Entrée..." id="search" name="q">
                                            <input class="d-none" type="submit" value="submit">
                                        </form>
                                    </div>
                                    <!-- Search btn -->
                                    <div id="searchbtn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Header Area End -->
    <main id="content-vue">

        {% block content %}

        {% endblock content %}
    </main>

    <!-- Footer Area Start -->
    <footer class="footer-area bg-img background-overlay" style="background-image: url({{ site_web.image_footer.url}});">
        <!-- Top Footer Area -->
        <div class="top-footer-area section_padding_100_70">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">+Plus</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                {{site_web.copy_ryght|safe}}
                            </p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'assets/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'assets/js/active.js' %}"></script>


        <!-- Google Maps js -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="{% static 'assets/js/axios.js' %}"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <!-- slider -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script  src="{% static 'assets/js/script.js' %}"></script>

    {% block scripts %}
        
    {% endblock scripts %}


{% comment %} Email and contact confirm {% endcomment %}

    {% block vuejs %}
        
    {% endblock vuejs %}
{% comment %} ---------------------------- {% endcomment %}



{% comment %}  bolck for detail {% endcomment %}

    {% block detail %}
        
    {% endblock detail %}
{% comment %} ---------------------------- {% endcomment %}

{% comment %}  bolck for category article {% endcomment %}
    {% block allCategorie %}
        
    {% endblock allCategorie %}

{% comment %} ---------------------------- {% endcomment %}


{% comment %}  bolck for search {% endcomment %}
{% block search %}

{% endblock search %}

{% comment %} ---------------------------- {% endcomment %}


{% block contact %}
{% endblock contact %}

{% comment %} Diferents category in menu {% endcomment %}
    <script>
        new Vue({
            el: "#data",
            data:{
                categorie: []
            },
            delimiters: ['%{', '}'],
            mounted(){
                axios.post("https://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        category{
                            id
                            name
                            slug
                        },
                        
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.categorie = response.data.data?.category
                        setTimeout(this.refresh_reload, 1500);
    
                    })
            }
    
        })

    </script>
{% comment %} ---------------------------- {% endcomment %}
   
</div>
</body>

</html>