
{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Breadcumb Area Start -->
    <div class="breadcumb-area section_padding_50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breacumb-content d-flex align-items-center justify-content-between">
                      <h3 class="font-pt mb-0">A Propos</h3>
                        {% language 'fr' %}
                            <p class="editorial-post-date text-dark mb-0">{% now "j F Y" %}</p>
                        {% endlanguage %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area End -->

    <section class="gazette-about-us-area section_padding_100_70">
        <div class="about-us-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="font-pt mb-30">{{ configuration.nom_history}}</h3>
                    </div>
                    {{ configuration.history|safe }}
                </div>
            </div>
        </div>

        <div class="team-area mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="font-pt mb-50">Notre Equipe</h3>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="owl-carousel owl-theme">

                    
                        {% for team in teams %}
                            <div class="item">
                                <div class="single-team-area">
                                    <img src="{{team.image.url}}" alt="">
                                    <div class="team-member-data">
                                        <h4 class="font-pt">{{team.nom}} {{team.prenom}}</h4>
                                        <div class="team-member-designation-social-info d-flex align-items-center justify-content-between">
                                            <h5 class="font-pt mb-0">{{team.job}}</h5>
                                            <div class="social-info">
                                                {% for social in team.team_social.all %}
                                                    <a href="#"><i class="{{ social.icon }}"></i></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-12 py-2">
                            <div class="owl-carousel owl-theme">

                                <div class="item">
                                    <div class="card" style="width: 80%;">
                                        <img class="card-img-top" src={% static 'assets/css/images/person_1.jpg' %} alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">John Doe</h5>
                                            <p class="card-text">Web developer</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="card" style="width: 80%;">
                                        <img class="card-img-top" src={% static 'assets/css/images/person_3.jpg' %} alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">John Doe</h5>
                                            <p class="card-text">Web developer</p>
                                            <div class="team-social-network">
                                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="gazette-cta-area bg-img background-overlay section_padding_100" style="background-image: url(img/blog-img/cta.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="cta-content text-center">
                        <h2 class="font-pt">{{ configuration.titre_description}}</h2>
                        <p>{{ configuration.description}}</p>
                        <a href="{% url 'contact' %}" class="btn gazette-btn font-pt">Contactez Nous <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
