{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Breadcumb Area Start -->
    <div class="breadcumb-area section_padding_50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breacumb-content d-flex align-items-center justify-content-between">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a href="{% url 'catagory' %}">{{slug}}</a>
                        </div>
                        {% language 'fr' %}
                            <p class="editorial-post-date text-dark mb-0">{% now "j F Y" %}</p>
                        {% endlanguage %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area End -->

   
    <!-- Editorial Area End -->

    <section class="catagory-welcome-post-area section_padding_100">
        <div class="container">
            <div id="categorie_ART" class="row">

                <div v-if="loading" class='modal-loader'>
                    <div  v-if="loading" class="lds-ripple"><div></div><div></div></div>
                </div>
                
                    <div v-else v-for="article in categorie_article" class="col-12 col-md-4">
                        <!-- Gazette Welcome Post -->
                        <div class="gazette-welcome-post">
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">%{article.category.name}</a>
                            </div>
                            <h2 class="font-pt">%{$options.filters.truncate_data(article.title, 40)}</h2>
                            <p class="gazette-post-date">%{article.datePublicaion}</p>
                            <!-- Post Thumbnail -->
                            <div class="blog-post-thumbnail my-5">
                                <img :src=" article.picture" alt="post-thumb">
                            </div>
                            <!-- Post Excerpt -->
                            <p v-html="$options.filters.truncate_data(article.description, 190)"></p>
                            <!-- Reading More -->
                            <div class="post-continue-reading-share mt-30">
                                <div class="post-continue-btn">
                                    <a :href="'/detail/' + article.id + '/'" class="font-pt">Lire Plus <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </section>
{% endblock content %}



{% block allCategorie%}
    <script>

        new Vue({
            el: "#categorie_ART",
            data:{
                categorie_article: [],
                loading: true,
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                },
            },
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        categoryBySlug(slug: "{{slug}}"){
                            name
                            id
                            slug
                            categoryArticle{
                                id
                                title
                                slug
                                picture
                                description
                                datePublication
                                category {
                                    name
                                }
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.categorie_article = response.data.data?.categoryBySlug?.categoryArticle
                        console.log(this.categorie_article)
                    }).finally(()=> this.loading = false)
            }
        })

    </script>

{% endblock allCategorie%}