{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Breadcumb Area Start -->
    <main id="categorie_ART"  style="height: 1000px; overflow:auto;">
        <div class="breadcumb-area section_padding_50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breacumb-content d-flex align-items-center justify-content-between">
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="{% url 'catagory' %}">{{slug}}</a>
                            </div>
                            {% language 'fr' %}
                                <p class="editorial-post-date text-dark mb-0">{% now "j F Y" %}</p>
                            {% endlanguage %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Breadcumb Area End -->

    <!-- Editorial Area End -->

        <section class="catagory-welcome-post-area section_padding_100">
            <div  class="container"> 
                <div id="content" class="row" style="height: 1000px ; overflow: auto;" >
        <section  class="catagory-welcome-post-area section_padding_100" >
            <div  class="container"> 
                <div  class="row"  >

                    <div v-if= "loading" class='modal-loader'>
                        <div class="card-row">
                            <div v-for="number in 6" class="card ">
                                <h1 class="heading loading"></h1>
                                <h2 class="heading loading"></h2>
                                <h2 class="heading loading"></h2>

                                <div class="card_img loading"></div>
                                <div class="card_text">
                                    <h2 class=" loading description"></h2>
                                    <h2 class=" loading description"></h2>
                                    <h2 class=" loading description"></h2>
                                </div>
                                <h1 class="heading loading"></h1>
                            </div>
                        </div>
                    </div>
                    <div v-if= "loading_is_stared" class='modal-loader'>
                        <div class="card-row">
                            <div v-for="number in 3" class="card ">
                                <h1 class="heading loading"></h1>
                                <h2 class="heading loading"></h2>
                                <h2 class="heading loading"></h2>

                                <div class="card_img loading"></div>
                                <div class="card_text">
                                    <h2 class=" loading description"></h2>
                                    <h2 class=" loading description"></h2>
                                    <h2 class=" loading description"></h2>
                                </div>
                                <h1 class="heading loading"></h1>
                            </div>
                        </div>
                    </div>
                    <div  v-else v-for="article in categorie_article" class="col-12 col-md-4">
                        <!-- Gazette Welcome Post -->
                        <div class="gazette-welcome-post">
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">%{article.node.category.name}</a>
                            </div>
                            <h2 class="font-pt">%{$options.filters.truncate_data(article.node.title, 40)}</h2>
                            <p class="gazette-post-date">%{article.node.datePublicaion}</p>
                            <!-- Post Thumbnail -->
                            <div class="blog-post-thumbnail my-5">
                                <img :src=" article.node.picture" alt="post-thumb">
                            </div>
                            <!-- Post Excerpt -->
                            <p v-html="$options.filters.truncate_data(article.node.description, 190)"></p>
                            <!-- Reading More -->
                            <div class="post-continue-reading-share mt-30">
                                <div class="post-continue-btn">
                                    <a :href="'/detail/' + article.node.slug + '/'" class="font-pt">Lire Plus <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock content %}



{% block allCategorie%}
    <script>

        new Vue({
            el: "#categorie_ART",
            data:{
                categorie_article: [],
                number: 1,
                loading: true,
                cursor_article: null,
                loading_is_stared: false,
                nbr :6
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                },
            },
            mounted(){

                axios.post("https://nannews.herokuapp.com/graphql", {
                    query:`{
                        relayCategories(slug_Iexact:"{{slug}}"){
                            edges{
                                cursor
                                node{
                                    id
                                    name
                                    categoryArticle(first:6){
                                        
                                        edges{
                                            cursor
                                            node{
                                                id
                                                slug
                                                title
                                                picture
                                                description
                                                datePublication
                                                category{
                                                    id
                                                    name
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }`
                }, 
                {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                ).then((response)=>{
                    let temp = response.data.data.relayCategories.edges[0].node
                    this.cursor_article = response.data.data.relayCategories.edges[0].node.categoryArticle.edges[this.nbr-1].cursor
                    this.categorie_article = temp.categoryArticle?.edges
                    console.log(this.categorie_article)
                    console.log(this.categorie_article)
                }).finally(()=> this.loading = false)

                const listElm = document.querySelector('#content');
                listElm.addEventListener('scroll', e => {
                    if(listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight){
                        this.loadMore();
                      }
                    });

                    //this.loadMore();
            },
            methods:{
                loadMore (){
                        if (!this.loading_is_stared){
                            this.loading_is_stared = true
                            axios.post("https://nannews.herokuapp.com/graphql", {
                                query:`{
                                    relayCategories(slug_Iexact:"{{slug}}"){
                                        edges{
                                            cursor
                                            node{
                                                id
                                                name
                                                categoryArticle(first:${this.nbr},after:"${this.cursor_article}"){
                                                    edges{
                                                        cursor
                                                        node{
                                                            id
                                                            slug
                                                            title
                                                            picture
                                                            description
                                                            datePublication
                                                            category{
                                                                id
                                                                name
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }`
                            }, 
                            {
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }
                            ).then((response)=>{
                                this.loading_is_stared = false
                                let temp = response.data.data.relayCategories.edges[0].node
                                this.cursor_article = response.data.data.relayCategories.edges[0].node.categoryArticle.edges[this.nbr-1].cursor
                                console.log(this.cursor_article)
                                this.categorie_article.concat(temp.categoryArticle?.edges)
                                console.log(temp.categoryArticle?.edges)
                                console.log("")
                                this.categorie_article = this.categorie_article.concat(temp.categoryArticle?.edges)
                            })
                        }
                    
                }
            }
        })

    </script>
    

{% endblock allCategorie %}