{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Breadcumb Area Start -->
    <div class="breadcumb-area section_padding_50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breacumb-content d-flex align-items-center justify-content-between">
                        <h3 class="font-pt mb-0">Contact</h3>
                        {% language 'fr' %}
                            <p class="editorial-post-date text-dark mb-0">{% now "j F Y" %}</p>
                        {% endlanguage %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area End -->

    <section class="gazette-contact-area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="gazette-heading">
                        <h4 class="font-bold">address</h4>
                    </div>
                    <!-- Contact Form --> 
                    <form id="contact" action="#" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="name"  id="contact-name" v-model='name' placeholder="Enter Your Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email"  id="contact-email" v-model='email' placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" v-model='message'cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <button type="submit"  @click.prevent="postData" class="btn contact-btn">SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
                    </form>
                </div>
                <div class="col-12 col-md-4">
                    <div class="gazette-heading">
                        <h4 class="font-bold">address</h4>
                    </div>
                    <div class="contact-address-info mb-50">
                        <p>Address: {{site_web.address}} <br> City / State: Montgomery, AL 36104 </p>
                    </div>
                    <div class="gazette-heading">
                        <h4 class="font-bold">Phone</h4>
                    </div>
                    <div class="contact-address-info">
                        {% for phone in site_web.site_phone.all%}
                            {{ phone.telephone }}
                        <!-- <p>Phone #1: 126-632-2345 <br>Phone #2: 126-632-2345 <br>Phone #3: 126-632-2345 <br>Phone #4: 126-632-2345</p> -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="googleMap2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.1018153725336!2d-3.9648824845063615!3d5.401457096082374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1933ec546f809%3A0xa13e690552d16e30!2sEcole%20NaN!5e0!3m2!1sen!2sci!4v1632842365077!5m2!1sen!2sci" width="100%" height="560" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>


{% endblock content %}

<script>
    new Vue({
        el:'#contact',
        data:{
            name:'',
            email:'',
            message:'',
            url:"{% url 'checkup' %}"
        },
        delimiters: ['%{', '}'],
        methods:{
            postData(){
                if (this.name === '' || this.email === '' || this.message === ''){
                  swal.fire({
                    icon:'error',
                    text:'Veuillez remplir les champs vides',
                    showConfirmButton:false,
                    timer:2000,
                  })
                }
                else if (!/[A-Za-z'éèöïäëû ]+/.test(this.name)){
                  swal.fire({
                    icon:'error',
                    text:'Veuillez saisir un nom valide',
                    showConfirmButton:false,
                    timer:2000,
                  })
                }
                else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                  swal.fire({
                    icon:'error',
                    text:'Veuillez saisir un email valide',
                    showConfirmButton:false,
                    timer:2000,
                  })
                }
                else{
                  axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                  axios.defaults.xsrfCookieName = 'csrftoken'
                  
                  let form = new FormData()
  
                  form.append('name', this.name)
                  form.append('email', this.email)
                  form.append('message', this.message)
                  
                  axios.post(this.url, form).then((response) => {
                    if (response.data.success){
                      swal.fire({
                        icon:'success',
                        text:response.data.text,
                        showConfirmButton:false,
                        timer:2000,
                      })
                      this.name = ""
                      this.email = ""
                      this.message =""
                    }
                    else {
                      swal.fire({
                        icon:'error',
                        text:response.data.text,
                        showConfirmButton:false,
                        timer:2000,
                      })
                    }
                  }).catch((e) => {
                    console.log(e)
                  })
                  
                }
              }
        }

    })
</script>