{% extends 'base/base.html' %}
{% load static %}
{% block content %}


    <div >
        <section id="dataArt" class="welcome-blog-post-slide">
            <!-- Single Blog Post -->          
            <!-- Single Blog Post -->
            <div  v-for="art in article" class="single-blog-post-slide bg-img background-overlay-5" :style="{ backgroundImage: 'url(' + art.picture + ')' }">
                <!-- Single Blog Post Content -->
                <div class="single-blog-post-content">
                    <div class="tags">
                        <a href="{% url 'catagory' %}">%{art.category.name}</a>
                    </div>
                    <h3><a href="{% url 'detail' %}" class="font-pt">%{art.title}</a></h3>
                    <div class="date">
                        <a href="#">%{art.id}</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <!-- Single Blog Post -->
        </section>
        <!-- Welcome Blog Slide Area End -->


        <!-- Latest News Marquee Area Start -->
        <div id="dataArtTitle" class="latest-news-marquee-area">
            <div class="simple-marquee-container">
                <div class="marquee">
                    <ul class="marquee-content-items">
                        <li v-for="text in textBar.slice(0,3)">
                            <a href="#"><span class="latest-news-time">10h40</span>%{text.title}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest News Marquee Area End -->

    <!-- Main Content Area Start -->
    <section class="main-content-wrapper section_padding_100">
        <div class="container">
            <div class="row">
                <div  class="col-12 col-lg-9">
                    <!-- Gazette Welcome Post -->
                    <div id="articlePhare">
                        <div  v-for="(popular,index) in popularArticle"  v-if="index == 0" class="gazette-welcome-post">
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="{% url 'catagory' %}">%{popular.category.name}</a>
                            </div>
                            <a :href="'/detail/' + popular.id + '/'"><h2 class="font-pt">%{popular.title}</h2></a>
                            <p class="gazette-post-date">%{popular.datePublication}</p>
                            <!-- Post Thumbnail -->
                            <div class="blog-post-thumbnail my-5">
                                <img :src="popular.picture" alt="post-thumb">
                            </div>
                            <!-- Post Excerpt -->
                            <p v-html="$options.filters.truncate_data(popular.description, 200)"></p>
                            <!-- Reading More -->
                            <div class="post-continue-reading-share d-sm-flex align-items-center justify-content-between mt-30">
                                <div class="post-continue-btn">
                                    <a :href="'/detail/' + popular.id + '/'" class="font-pt">Lire plus<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Popular1" class="gazette-todays-post section_padding_100_50">
                        <div class="gazette-heading">
                            <h4>Les Plus Populaires</h4>
                        </div>
                        <!-- Single Today Post -->
                        <div v-for="pop1 in populaire_articles.slice(1,3)"  class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img :src="pop1.picture" alt="">
                            </div>
                            <div class="todays-post-content">
                                <!-- Post Tag -->
                                <div class="gazette-post-tag">
                                    <a href="{% url 'catagory' %}">%{pop1.category.name}</a>
                                </div>
                                <h3><a :href=" 'detail/' + pop1.id + '/' " class="font-pt mb-2">%{pop1.title}</a></h3>
                                <span class="gazette-post-date mb-2">%{pop1.datePublication}</span>
                                
                                <p v-html="$options.filters.truncate_data(pop1.description, 200)"></p>
                            </div>
                        </div>
                        <!-- Single Today Post -->
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6">
                    <div class="sidebar-area">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-widget">
                            <div class="widget-title">
                                <h5>breaking news</h5>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <!-- <div class="single-breaking-news-widget">
                                <img src="{% static 'assets/img/blog-img/bn-1.jpg' %}" alt="">
                                <div class="breakingnews-title">
                                    <p>breaking news</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">China leads new global skyscraper record</h5>
                                </div> -->
                            </div>
                            <!-- Single Breaking News Widget -->
                            <div class="single-breaking-news-widget">
                                <img src="{% static 'assets/img/blog-img/bn-2.jpg' %}" alt="">
                                <div class="breakingnews-title">
                                    <p>télévision</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">Can a zebra crossing change its stripes?</h5>
                                </div>
                            </div>
                        </div>

                        <!-- Don't Miss Widget -->
                        <div id="dataArtThree" class="donnot-miss-widget">
                            <div class="widget-title">
                                <h5>à voir</h5>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div v-for="arti in article.slice(0,3)" class="single-dont-miss-post d-flex mb-30">
                                <div class="dont-miss-post-thumb">
                                    <img :src="arti.picture" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a :href="'detail/' + arti.id + '/'" class="font-pt">%{arti.title}</a>
                                    <span>%{arti.datePublication}</span>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                        </div>
                        <!-- Advert Widget -->
                        <div class="advert-widget">
                            <div class="widget-title">
                                <h5>A propos</h5>
                            </div>
                            <div class="advert-thumb mb-30">
                                <a href="{% url 'about' %}"><img src="{% static 'assets/img/equipe.png' %}" alt=""></a>
                            </div>
                        </div>
                        <!-- Subscribe Widget -->
                        <div class="subscribe-widget">
                            <div class="widget-title">
                                <h5>s'abonner</h5>
                            </div>
                            <div id="register" class="subscribe-form">
                                <form action="#">
                                {% csrf_token %}
                                    <input type="email" v-model="email" name="email" id="subs_email" placeholder="Votre Email">
                                    <button @click.prevent="registersEmail" type="submit">S'abonner</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Area End -->

        <!-- Catagory Posts Area Start -->
        <div class="gazette-catagory-posts-area">
            <div class="container">
                <div class="row">
                    <div id="title1" class="col-12 col-md-4">
                        <!-- Single Catagory Post -->
                        <div v-for="(tit_art, index) in article_title.slice(0,4)" class="gazette-single-catagory-post">
                            <div >
                                <div v-if="index == 0" class="single-catagory-post-thumb mb-15">
                                    <img :src="tit_art.picture" alt="">
                                </div>
                                <!-- Post Tag -->
                                <div v-if="index == 0" class="gazette-post-tag">
                                    <a href="#">%{tit_art.category.name}</a>
                                </div>
                                <h5><a :href="'detail/' + tit_art.id + '/' " class="font-pt">%{tit_art.title}</a></h5>
                                <span>%{tit_art.datePublication}</span>
                            </div>
                        </div>       
                    </div>
                    <div class="col-12 col-md-4">
                        <div id="Autre" class="row">
                            <div v-for="(autre, index) in author_article" class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div v-if="index < 4">
                                    <div class="gazette-single-catagory-post">
                                        <div class="single-catagory-post-thumb mb-15">
                                            <img :src="autre.picture" alt="">
                                        </div>
                                        <!-- Post Tag -->
                                        <div class="gazette-post-tag">
                                            <a href="#">%{autre.category.name}</a>
                                        </div>
                                        <h5><a :href="'detail/' + autre.id + '/' " class="font-pt">%{autre.title}</a></h5>
                                        <span>%{autre.datePublication}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="title2" class="col-12 col-md-4">
                        <!-- Single Catagory Post -->
                        <div v-for="(title_art, index) in article_title.slice(4,8)" class="gazette-single-catagory-post">
                            <div>
                                <div v-if="index == 0" class="single-catagory-post-thumb mb-15">
                                    <img :src="title_art.picture" alt="">
                                </div>
                                <!-- Post Tag -->
                                <div v-if="index == 0" class="gazette-post-tag">
                                    <a href="#">%{title_art.category.name}</a>
                                </div>
                                <h5><a :href=" 'detail/' + title_art.id + '/' " class="font-pt">%{title_art.title}</a></h5>
                                <span>%{title_art.datePublication}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Catagory Posts Area End -->

    <!-- Video Posts Area Start -->
   
    <!-- Video Posts Area End -->

    <!-- Editorial Area Start -->
    
    <!-- Editorial Area End -->
{% endblock content %}


{% block vuejs %}
    <script>
        {% comment %} 
        Vue.filter('truncate_article', function (value, length) {
            if (!value){
                return ''
            }
            value = value.toString()
            if(value.length > length){
                return value.substring(0, length) + "..."
            }
            else{
                return value
            }
        }) 
        {% endcomment %}


        // from recent article the most views
        new Vue({
            el: "#dataArtThree",
            data:{
                article: []
            },
            delimiters: ['%{', '}'],
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        recentArticles{
                            id
                            title
                            picture
                            description
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.article = response.data.data?.recentArticles
                    })
            }
    
        })


        // Diferents article in the slider 
        // from recent article 

        new Vue({
            el: "#dataArt",
            data:{
                article: [],
            },
            delimiters: ['%{', '}'],
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        recentArticles{
                            id
                            title
                            picture
                            description
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.article = response.data.data?.recentArticles
                    })
            }
    
        })

        new Vue({
            el: "#dataArtTitle",
            data:{
                textBar: [],
            },
            delimiters: ['%{', '}'],
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        recentArticlesTitle{
                            id
                            title
                            datePublication
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.textBar = response.data.data?.recentArticlesTitle
                        setTimeout(this.refresh_reload, 1500);
    
                    })
            }
    
        })



        //-------------------
    
    //---------------the differents article in the slider---------------


        //article phare 
        new Vue({
            el: "#articlePhare",
            data:{
                popularArticle: [],
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                },
            },
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        popularArticles{
                            id
                            title
                            picture
                            description
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.popularArticle = response.data.data?.popularArticles
                    })
            }
        })

        // the most popular article

        new Vue({
            el: "#Popular1",
            data:{
                populaire_articles: [],
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                }
            },
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        popularArticles{
                            id
                            title
                            picture
                            description
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.populaire_articles = response.data.data?.popularArticles
                    })
            }
    
        })
  
        // the differents middle's article (4)
        new Vue({
            el: "#Autre",
            data:{
                author_article: [],
                articles_test_list: [],
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                },
            },
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        recentArticles{
                            id
                            title
                            picture
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.author_article = response.data.data?.recentArticles
                    })
            }
        })


        //---------------the differents title---------------

        new Vue({
            el: "#title1",
            data:{
                article_title: [],
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                },
            },
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        recentArticlesTitle{
                            id
                            title
                            picture
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.article_title = response.data.data?.recentArticlesTitle
                    })
            }
        })

        new Vue({
            el: "#title2",
            data:{
                article_title: [],
            },
            delimiters: ['%{', '}'],
            directives: {},
            filters: {
                truncate_data: function(data,num){
                    let value = he.decode(data)
                    const reqdString = 
                    value.split("").slice(0, num).join("") + '...';
                    return reqdString;
                },
            },
            mounted(){
                axios.post("http://nannews.herokuapp.com/graphql", {
                    query: `
                        {
                        recentArticlesTitle{
                            id
                            title
                            picture
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    }, 
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    ).then((response)=>{
                        console.log(response)
                        this.article_title = response.data.data?.recentArticlesTitle
                    })
            }
        })

        //---------------the same things---------------

        //Email confirm 

        new Vue(
            {
            el:'#register',
            data:{
                email:'',
                
            },
            methods:{
            registersEmail(){
                if(!this.email){
                    swal.fire({
                        icon:'error',
                        text: 'veuillez remplir ce champ avant de le soumettre !!!',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
                else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                    swal.fire({
                        icon: 'error',
                        text: 'Email invalide',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
                else{

                    let form = new FormData()
                    form.append('email', JSON.stringify(this.email))

                    axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
                    axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
                    axios.post("{% url 'registerEmail' %}", form)
                    .then((response) =>{
                        if(response.data.success){
                            swal.fire({
                                icon:'success',
                                text: response.data.msg,
                                showConfirmButton: false,
                                timer: 2000
                            })
                            this.email = ""
                        }
                        else{
                            swal.fire({
                                icon:'error',
                                text: response.data.msg,
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }
                    })
                    .catch((e) => {
                        console.log(e)
                    })
                }
            },

          },
          delimiters: ['%{', '}'],
        }
      )


    </script>

    {% endblock vuejs %}
