{% extends 'base/base.html' %}
{% load static %}
{% block content %}


    <section id="detailApp" class="single-post-area">
        <!-- Single Post Title -->

        <div v-if="loading" class='modal-loader'>
            <div  v-if="loading" class="lds-ripple"><div></div><div></div></div>

        </div>
    
        


    
        <div v-else v-for="detail in article_detail" v-if="detail.id == {{idt}}" class="single-post-title bg-img background-overlay" :style="{ backgroundImage: 'url(' + detail.picture + ')' }">
            <div class="container h-100">
                <div class="row h-100 align-items-end">
                    <div class="col-12">
                        <div class="single-post-title-content">
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">%{detail.category.name}</a>
                            </div>
                            <h2 class="font-pt">%{detail.title}</h2>
                            <p>%{detail.datePublication}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-for="detail in article_detail" v-if="detail.id == {{idt}}" class="single-post-contents">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="single-post-text">
                            <p v-html="detail.description"></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block detail %}

    <script>
        new Vue({
            el:"#detailApp",
            data: {
                article_detail: [],
                loading: true,
            },
            delimiters: ['%{','}'],
            mounted(){
                axios.post("https://nannews.herokuapp.com/graphql",{
                    query:`{
                        allArticles{
                            id
                            title
                            picture
                            description
                            datePublication
                            category{
                                id
                                name
                            }
                        }
                    }`
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                ).then((response)=> {
                    console.log(this.article_detail = response.data.data?.allArticles)
                    this.article_detail = response.data.data?.allArticles
                })
                .finally(()=> this.loading = false)

            }
        })

    </script>

{% endblock detail %}